body{
	background-color: slategrey;
}

h1{
	text-align: center;
	position: static;
	background-color: black;
	color: salmon;
	padding: 10px;
	margin: 1px;
	border-style: solid;
	border-color: black;
}

h2{
	text-align: center;
	text-decoration: underline;
	background-color: black;
	color: salmon;
}

#myphoto{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	display: flex;
}

#photocontainer{
	display: flex;
	float: right;
	margin-right: 30px;
	margin-top: 55px;
	border-style: solid;
	border-radius: 50%;
}

li{
	display: inline;
	text-align: center;
}

#navbar{
	background-color: green;
	text-align: right;
	padding-top: 3px;
	border-style: solid;
}

a{
	display: inline-block;
	padding: 8px;
	background-color: green;
	margin-top: -10px;
}

ul{
	padding-bottom: 5px;
}

#homepagetext{
	display: flex;
	width: 300px;
	border-style: solid;
	float: left;
	margin-left: 20px;
	margin-top: 40px;
}

#centerborder {
	border-right: 10px;
	border-style: solid;
}

#toplayer {
	background-color: tan;
	height: 600px;
	margin-top: 2px;
	border-style: solid;
}

footer{
	background-color: green;
	padding: 10px;
	margin-top: 4px;
	text-align: center;
	border-style: solid;
}

#aboutme1{
	height: 375px;
	display: flex;
	width: 800px;
	margin-left: 50px;
	border-bottom: solid;
	border-style: solid;

}

#martialartsphoto{
	height: 300px;
	width: 250px;
	display: flex;
	float: right;
	margin-left: 50px;
	margin-top: 20px;
	border-style: solid;
	margin-right: 30px;
}

#aboutme2{
	display: flex;
	width: 800px;
	height: 275px;
	margin-left: 50px;
	flex-direction: row-reverse;
	margin-right: 100px;
	border-style: solid;

}

#gamephoto{
	height: 200px;
	width: 230px;
	display: flex;
	flex-direction: row;
	margin-left: 50px;
	margin-top: 20px;
	margin-right: 50px;
	padding-right: 80px;
}

#aboutme3 {
	display: flex;
	width: 800px;
	height: 275px;
	margin-left: 50px;
	flex-direction: row-reverse;
	margin-right: 100px;
	border-style: solid;
}

#teacherphoto{
	height: 200px;
	width: 230px;
	display: flex;
	flex-direction: row;
	margin-left: 50px;
	margin-top: 20px;
	margin-right: 50px;
	padding-right: 80px; 
}